<!DOCTYPE html>

<html>
    <head>
        <meta charet="UTF-8">
        <title> Activity 1: Basic HTML BIO</title>
        
        <!--CCS code for webpage-->
        <link rel = "stylesheet" type = "text/css" href = "/Styles/my_bio.css" />
    </head>

    <body>

        <!--Site Header-->
        
        <h1 class=header>STUDENT BIO</h1>
        
        <!--left column-->
        <div class="column">

            <!--2nd heading-->
            <H2 class="header2">Janice Leung</H2>

            <!--Image-->
            <img src="http://clipart-library.com/images/zcXo4Brbi.png" alt="person">
        
            <!-- About me paragraph-->
            <p> An aspiring web developer. Wanting to delve into the world of tourism and technology.</p>
        </div>

        <!-- Right column -->
        <div class="column1">
        
            <!-- 3rd heading -->
            <h2>Contact Information</h2>

            <!--list of contact Detail-->
            <ul>
                <li><strong>Email: </strong><a href="#">anywhere@gmail.com</a></li>
                <li><strong>Github: </strong><a href="https://github.com/Janice-cloud">Janice-cloud</a></li>
                <li><strong>Portfolio: </strong><a href="https://janice-cloud.github.io/IAMJANICE/Index.html">My Portfolio</a></li>
            </ul>
        </div>
    </body>

</html>