<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--bootstrap style sheet-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/Styles/index.css">
        <!--Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <title>Portfolio</title>
    </head>

    <body class ="text-white bg-dark">
        <!-- Navigation Bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="Index.html">Janice</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="Portfolio.html">Porfolio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Contact.html">Contact<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            
        </nav>

        <!--Cards-->
        <div class="container">
            <div class="row card-border">
                <div class="col-md-4 col-xs-2 top-border">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/MoodyDrinks-mobile-landing.jpg" alt="Moody Drinks app">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">Project 1</h5>
                            <p class="card-text">An app to recommend drinks depending on the user's current mood.</p>
                            <a href="https://zypherone.github.io/moody-drinks/" target="_blank" class="btn btn-primary">Moody Drinks</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-2 top-border">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/project2-coddiwomble.jpeg" alt="Coddiwomble app">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">Project 2</h5>
                            <p class="card-text">A fun holiday application, that allows the user to add destinations to a wish-list and to connect like minded travellers.</p>
                            <a href="https://sleepy-temple-88858.herokuapp.com/" target="_blank" class="btn btn-primary">Coddiwomble</a>
                        </div>
                    </div>
                </div>                   
             </div>

            <div class="row card-border">
                <div class="col-md-4 col-xs-2 top-border">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/PasswordGenerator.jpeg" alt="Card image cap">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">Password Generator</h5>
                            <p class="card-text">Use this app to generate a secure password! </p>
                            <a href="https://janice-cloud.github.io/passwordgenerator/" target="_blank" class="btn btn-primary">Password Generator</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-2 top-border">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/Day Planner.jpeg" alt="Card image cap">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">Day Planner</h5>
                            <p class="card-text">Use this app to make a to do list for your day! </p>
                            <a href="https://janice-cloud.github.io/dayplanner/dayscheduler.html" target="_blank" class="btn btn-primary">Day Planner</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-2 top-border">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/Quiz.jpeg" alt="Card image cap">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">Quiz Master</h5>
                            <p class="card-text">A quiz app to test your developer skills</p>
                            <a href="https://janice-cloud.github.io/quiz/quiz.html" target="_blank" class="btn btn-primary">Quiz Master</a>
                        </div>
                    </div>
                </div>
                
            </div>  
            
            <div class="row card-border">
                <div class="col-md-4 col-xs-2 top-border">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/PasswordGenerator.jpeg" alt="Card image cap">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">Password Generator</h5>
                            <p class="card-text">Use this app to generate a secure password! </p>
                            <a href="https://janice-cloud.github.io/passwordgenerator/" target="_blank" class="btn btn-primary">Password Generator</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-2 top-border">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/Day Planner.jpeg" alt="Card image cap">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">Day Planner</h5>
                            <p class="card-text">Use this app to make a to do list for your day! </p>
                            <a href="https://janice-cloud.github.io/dayplanner/dayscheduler.html" target="_blank" class="btn btn-primary">Day Planner</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-2 top-border">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/PasswordGenerator.jpeg" alt="Card image cap">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">Password Generator</h5>
                            <p class="card-text">Use this app to generate a secure password! </p>
                            <a href="https://janice-cloud.github.io/passwordgenerator/" target="_blank" class="btn btn-primary">Password Generator</a>
                        </div>
                    </div>
                </div>
            </div>  

        </div>
    </body>
   
</html>